__pycache__/__init__.cpython-311.pyc
__pycache__/__init__.cpython-313.pyc
__pycache__/config.cpython-311.pyc
__pycache__/gemini_client.cpython-311.pyc
__pycache__/gemini_execute.cpython-311.pyc
__pycache__/main.cpython-311.pyc
__pycache__/main.cpython-313.pyc
__pycache__/prompt_templates.cpython-311.pyc
.env
